name: terraform-ci

on:
  push:
    branches:
      - main
      - 'feature/*'

jobs:
  terraform_main:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v1

    - name: Terraform Init
      run: terraform init

    - name: Terraform Plan
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      run: terraform plan -out=tfplan

    - name: Terraform Output
      id: output
      run: terraform output -json > output.json

    - name: Set Infra Create Variable
      id: set_var
      run: |
        echo "Conteúdo do arquivo output.json:"
        cat output.json
        infra_create=$(jq -r '.infra_create.value // empty' output.json)
        if [ -z "$infra_create" ]; then
          echo "Erro: O campo 'infra_create' não foi encontrado no arquivo output.json."
          exit 1
        fi
        echo "INFRA_CREATE=$infra_create" >> $GITHUB_ENV

    - name: Terraform Apply
      if: env.INFRA_CREATE == 'true'
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      run: terraform apply -auto-approve tfplan
    
    - name: Terraform Destroy
      if: env.INFRA_CREATE != 'true'
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      run: terraform destroy -auto-approve

  terraform_feature:
    if: github.ref != 'refs/heads/main'

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v1

    - name: Terraform Init
      run: terraform init

    - name: Terraform Plan
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      run: terraform plan -out=tfplan